* {
	margin: 0;
	padding: 0;
}

body h1, h2, h3, h4, p, a{
	font-family: 'Raleway', sans-serif;
}

header a{
	color: white;
	margin-top: auto;
	margin-bottom: auto;
}

header a:hover{
	text-shadow: white 0em 0em .3em;
}

section {
	max-width: 1800px;
	margin-inline: auto;
}

#escurecer {
	transition: 0.2s;
}

#escurecer.active {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}


#topo-nav {
	display: flex;
	width: 100%;
	background: #111111;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}


/* ----------------------Css das 3 divs do #topo-nav-------------------------------- */


/* --------------Primeira Div------------------------------------------- */
#topo-nav .left-itens {
	display: flex;
	justify-content: flex-start;
	width: 33.33%;
}
/* --------------Primeira Div----------------- */
/* Relacionados a primeira div */
#side-bar {
	display: flex;
	flex-flow: row nowrap;
	overflow-x: hidden;
	list-style: none;
	margin-top: auto;
	margin-bottom: auto;
}

#side-bar li{
	display: flex;
	justify-content: baseline;
	margin-inline: .5rem;
}

#topo-nav .left-itens a {
	text-decoration: none;
	font-size: 1rem;
	letter-spacing: .1rem;
}



/* Botão Mobile */
#btn-mobile {
	display: none;
	margin-left: 1.875rem;
	margin-top: auto;
	margin-bottom: auto;
}

#sair {
	display: none;
}
/* Botão Mobile */
/* Relacionados a primeira div */



/* --------------Segunda Div------------------------------------------ */
#topo-nav .logo {
	display: flex;
	justify-content: center;
	width: 33.33%;
	font-size: 2.5rem;
	letter-spacing: .5rem;
	text-shadow: white 0em 0em .2em
}
/* --------------Segunda Div---------------- */
/* Relacionados a segunda div */
#topo-nav .logo a {
	font-family: 'Girassol', cursive;
	text-decoration: none;
}
/* Relacionados a segunda div */



/* --------------Terceira Div---------------------------------------- */

#topo-nav .right-itens{
	display: flex;
	justify-content: flex-end;
	width: 33.33%;
	margin-right: 1.5rem;
}
/* --------------Terceira Div------------------ */
/* Relacionados a terceira div */
#area-usuario {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

#area-sacola {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

#topo-nav .right-itens a.btn-usuario,
#topo-nav .right-itens a.btn-sacola {
	padding-inline: 1rem;
}

#topo-nav .right-itens .btn-usuario:hover {
	text-shadow: none;
}

#topo-nav .right-itens i.btn-sacola {
	margin-top: auto;
	margin-bottom: auto;
}

#topo-nav .right-itens .btn-sacola:hover {
	text-shadow: none
}

#area-usuario .btn-usuario,
#area-sacola .btn-sacola,{
	display: inline;
}


.right-itens .area-usuario-celular {
	display: none;
}

.right-itens .area-sacola-celular {
	display: none;
}

#area-usuario-active {
	display: none;
	position: absolute;
	top: 76px;
	right: 15px;
	padding: 1rem;
	background: #111111;
	list-style: none;
	z-index: 998;
}

#area-usuario-active li {
	margin-bottom: .5rem;
	border-bottom: 1px solid #2e2e2e;
}

#area-usuario-active a {
	text-decoration: none;
}

#area-usuario-active.active {
	display: block;
}



#area-sacola-active {
	position: absolute;
	top: 70px;
	right: 0px;
	overflow-y: auto;
	width: 300px;
	max-height: 275px;
	padding: 1rem;
	background: #fff;
	border: 2px solid #111111;
	border-top: 26px solid #111111;
	box-shadow: rgba(17, 17, 17, 0.6) 0px 2px 8px 0px;
	z-index: 997;


	display: none;
	flex-flow: column;
	flex-wrap: nowrap;
	overflow-y: auto;
	align-items: center;
}

#area-sacola-active.active {
	display: flex;
}

#area-sacola-active.active .items-sacola {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	margin: 1rem 0rem;
}

.items-sacola img {
	margin-right: 1rem;
	height: 100px;
	width: 75px;
}

#area-sacola-active.active .item-sacola-right {
	width: 280px;
	margin-top: auto;
	margin-bottom: auto;
}

#area-sacola-active.active .item-sacola-right p {
	font-family: 'Times New Roman', Serif;
	font-size: 12px;
	color: #696969;
}

#area-sacola-active.active .item-sacola-right p.preco {
	color: black;
	font-size: 1rem; 
	font-weight: bold;
}

#area-sacola-active.active .item-sacola-right .total {
	text-align: right;
	margin-right: .5rem;
}

#area-sacola-active.active .menos-foco {
	color: #696969;
}

#area-sacola-active.active .item-sacola-right .lixeira {
	cursor: pointer;
	border-style: none;
	background: #fff;
	color: #000;
	margin-left: 90%;
}

#area-sacola-active.active .input-sacola #input-quantidade {
	width: 20px;
	text-align: center;
	color: #000;
	background: #fff;
	border: 1px solid #111111;
	margin-inline: -5px;
}

#area-sacola-active.active .input-sacola .radius-mais {
	border-radius: 0px 15px 15px 0px;
}

#area-sacola-active.active .input-sacola .radius-menos {
	border-radius: 15px 0px 0px 15px;
}

#area-sacola-active.active .input-sacola .btn-mais-menos {
	color: #000000;
	cursor: pointer;
	border: 1px solid #111111;
	padding-inline: .2rem;
	background: #fff;
}

.item-sacola-right.finalizar {
	 border-top: 1px solid #111111;
	 margin-top: 1rem;
}

#area-sacola-active.active .btn-compra-sacola {
	width: 90%;
	padding: 10px;
	margin: 1rem 0rem;
	color: #fff;
	text-align: center;
	background: #111111;
	text-decoration: none;
	text-shadow: none!important;
}


/* Fim Relacionados a terceira div */

/*---------------------------------Section de apresentação----------------------------------*/

#apresentacao-site {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin-inline: auto;
	margin-top: 3rem;
}

#apresentacao-site .imagens-apresentacao {
	width: 100%;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}


#apresentacao-site .imagens-apresentacao .img-principal {
	transition: 0.2s;
	width: 100%;
}

#apresentacao-site .imagens-apresentacao .img-principal.active {
	filter: brightness(0.4);
}

#apresentacao-site .texto-apresentacao{
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	margin-inline: 1.5rem;
	width: 100%;
}

#apresentacao-site .texto-apresentacao h1 {
	display: inline-block;
	font-size: 2rem;
	font-weight: bold;
}

#apresentacao-site .texto-apresentacao p {
	padding-top: .5rem;
	padding-bottom: 3rem;
	font-weight: 400;
	font-size: 1.5rem;
}

#apresentacao-site .texto-apresentacao .btn-colecao {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: black;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 10px;
	border: 1.5px solid #111111;
	border-radius: 10px;
	transition: .15s;
}

#apresentacao-site .texto-apresentacao .btn-colecao:hover {
	box-shadow: black 0em 0em .3em;
}



/*---------------------------------Section de Compra -----------------------------------*/

.intro {
	font-weight: bold;
	text-align: center;
	margin: 3rem 0rem 2rem 0rem;
}

#best-sellerM, #best-sellerF {
	width: 90%;
	margin-inline: auto;
	margin-bottom: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.itens {
	margin-top: 2rem;
	margin-bottom: 6rem;
	margin-inline: auto;
	width: 225px;
	height: 300px;
}

.itens img {
	width: 100%;
}

.itens a {
	color: black;
	text-decoration: none;
	margin-top: 1rem;
	font-weight: bold;
}

.itens p {
	width: 100%;
	height: 20px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.btn-add-carrinho {
	display: block;
	text-align: center;
	border: 2px solid #111111;
	padding: .5rem;
}

.btn-add-carrinho:hover {
	box-shadow: black 0em 0em .3em;
}

/*-----------------------------Animação Section de Compra------------------------------*/

[data-anime] {
	opacity: 0;
	transition: .6s;
}

[data-anime="bottom"] {
	transform: translate3d(0px, 50px, 0px);
}

[data-anime].animate {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
}

/*-----------------------------Pop Up Login/Cadastro------------------------------*/

#popup-login-cadastro {
	position: fixed;
	top: -150%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%) scale(1.25);
	width: 400px;
	padding: 2rem;
	background: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
	transition: top 0ms ease-in-out 400ms,
				opacity 200ms ease-in-out 0ms,
				transform 200ms ease-in-out 0ms;
	z-index: 999;
}

#popup-login-cadastro.active {
	top: 50%;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
	transition: top 0ms ease-in-out 0ms,
				opacity 200ms ease-in-out 0ms,
				transform 200ms ease-in-out 0ms;
	}

.topo-popup h2{
	text-align: center;
	margin: 10px 0px 20px;
}

#popup-login-cadastro .topo-popup a {
	position: absolute;
	top: .8rem;
	right: 1em;
	color: black;
	padding: .2rem .45rem;
}

#popup-login-cadastro .topo-popup a:hover {
	color: #ff6961;
}

#popup-login-cadastro .form .formulario-popup {
	margin: 15px 0px;
}

#popup-login-cadastro .form .formulario-popup label {
	font-size: 14px;
	color: #222;
}

#popup-login-cadastro .form .formulario-popup input[type="text"],
#popup-login-cadastro .form .formulario-popup input[type="password"] {
	display: block;
	padding: 10px;
	width: 94%;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid #aaa;
}

#popup-login-cadastro .form .formulario-popup input[type="checkbox"] {
	margin-right: 5px;
}

#popup-login-cadastro .form .formulario-popup button {
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
.cadastrar {
	background: #111111;
	color: white;
}

#popup-login-cadastro .form .formulario-popup a {
	display: block;
	text-align: right;
	color: #1a79ca;
	text-decoration: none;
}

/*----------------------------- Fim Pop Up Login/Cadastro------------------------------*/


/*----------------------------- Inicio Rodapé  --------------------------------------*/

#rodape {
	width: 100%;
	height: 300px;
	background: #f4f4f4;
}

.conteudo-rodape {
	max-width: 1800px;
}


/*---------------------------------Media Queries --------------------------------------*/	
@media (max-width: 1280px) {
	.itens {
		width: 160px;
		height: 213px;
	}
}

@media (max-width: 820px) {

/* Ajeitando proporções para MD */
	#best-sellerM,
	#best-sellerF {
		grid-template-columns: 1fr 1fr;
	}

	#side-bar {
		display: none;
	}

	.first-link {
		padding-left: none;
	}

	#btn-mobile {
		display: block;
	}

	#topo-nav .left-itens {
		width: 25%;
	}

	#topo-nav .logo {
		width: 50%;
		font-size: 2rem;
	}

	#topo-nav .right-itens {
		width: 25%;
		margin-right: 1.4rem;
	}

	#area-usuario {
		display: none;
	}

	.right-itens .area-usuario-celular {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#area-sacola {
		display: none;
	}

	.right-itens .area-sacola-celular {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#topo-nav .right-itens a.btn-usuario,
	#topo-nav .right-itens a.btn-sacola {
		padding-inline: .5rem;
	}

	#topo-nav .right-itens .btn-sacola i, 
	#topo-nav .right-itens .btn-usuario i{
		font-size: 1.4rem;
	}

	/* SideBar */

	#sair {
		display: inline-block;
	}

	#side-bar {
		visibility: hidden;	
		overflow-x: hidden;

		display: block;

		position: fixed;
		top: 0px;
		left: 0px;

		height: 100%;
		width: 0;
		background: #111111;

		z-index: 1000;

		transition: .4s;
	}

	#side-bar li{
		display: block;
		padding-top: 2.188rem;
		padding-left: 1.875rem;

	}

	#topo-nav ul.active {
		flex-direction: column;
		visibility: visible;
		width: 350px;
	}

	/* apresentacao */

	#apresentacao-site {
		flex-flow: row wrap;
	}

	.texto-apresentacao{
		margin-top: 1rem;
	}
}

@media (max-width: 576px) {

/* Ajeitando proporções para SM */
	#best-sellerM, #best-sellerF {
		grid-template-columns: 1fr;
	}

	#side-bar li{
		display: block;
		padding-top: .813rem;
		padding-left: .625rem;

	}

	#topo-nav{
		padding-top: .5rem;
		padding-bottom: .5rem;
	}

	#btn-mobile {
		margin-left: .625rem;
	}

	#topo-nav .right-itens{
		margin-right: .125rem;
	}

	#topo-nav .left-itens {
		margin-left: .125rem;
	}

	#topo-nav .right-itens .btn-sacola i, 
	#topo-nav .right-itens .btn-usuario i{
		font-size: 1rem;
	}

	#topo-nav .logo {
		font-size: 1.5rem;
	}

	/* Apresentação */

	.texto-apresentacao p {
		font-size: 1rem;
	}

	.intro {
		margin-top: 2rem;
	}

	.first-moda {
		margin-top: 5rem;
	}

	.itens {
		margin-bottom: 6rem;
		width: 225px;
		height: 300px;
	}


}
